.btn {
  border: none;
  padding: 0.8rem 1.5rem;
  border-radius: 0.3rem;
  text-transform: uppercase;
  color: #eee;
  font-weight: 100;
  font-size: 1.6rem;
  transition: all 0.3s;

  @include flex-center;
  &--primary {
    background-color: $color-primary;

    &:hover {
      background-color: darken($color-primary, 10%);
    }
  }
  &--secondary {
    background-color: $color-secondary;

    &:hover {
      background-color: darken($color-secondary, 10%);
    }
  }
  &__icon {
    height: 2.5rem;
    width: 2.5rem;
    color: currentColor;
    margin-right: 0.5rem;
  }
}

.icon {
  height: 3rem;
  width: 3rem;
  color: $color-black;

  &--dot {
    color: $color-grey-light;
  }
  &--doller {
    color: $color-grey-light;
  }
}
